<footer>
    <a href="https://www.facebook.com/redrundeli"><i class="fa-brands fa-facebook"></i></a>
    <a href="https://www.instagram.com/redrundeli/"><i class="fa-brands fa-instagram"></i></a>
    <a href="mailto:info@redrundeli.com"><i class="fa-regular fa-envelope"></i></a>
</footer>
</body>

</html>