.grid-container {
    margin: auto;
    display: grid;
    gap: 20px;
    padding: 10px;
    width: 75vw;
    grid-template-columns: 25vw 25vw 25vw;
    justify-content: center;
}

.grid-container > .form {
    /* background-color: rgba(255,255,255,0.8); */
    background-color: white;
    height: 10em;
    color: black;
    font-size: large;
    padding:0;
    border-width: 5px;
    border-color: black;
}

.grid-container > .form:hover {
    filter: brightness(80%);
}

.category-btn {
    width:100%;
    height:100%;
    overflow: hidden;
    border-width: 0;
    background-color: transparent;
    border-width: 3px;
    border-color: black;
    /* border-radius: 0.5em; */
    /* box-shadow: 3px 3px black; */
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.food-img {
    height:80%;
}
.popup {
    display: none;
    width: 100%;
    height: 100%;
    left:0;
    margin:0;
    top:0;
    position: fixed;
    z-index:100; 
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
    justify-content: center;
    
}

.popup-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    /* margin: auto; */
    width: 40vw;
    height: 60vh;
    background-color: white;
    color: black;
}